{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-extra-semi": 0,
    "react/prop-types": "ignore",
    "max-len": ["error", 100, { "ignoreRegExpLiterals": true, "ignoreStrings": true }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  }
}
